* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  /*    background-color: #204862; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: white;
  text-align: center;
}

/* el formulario*/
.formulario {
  width: 98%;
  max-width: 500px;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 8px;
}

/* h2 */
.titulo {
  background-color: #82ae46;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 2px solid crimson;
}

/* el contenedor del formualario */
.inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* cajas pequeñas */
.i48 {
  width: 48%;
}

/* cajas que ocupan todo el div */
.i100 {
  width: 100%;
}

/* todas las cajas */
input {
  margin-bottom: 15px !important;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

/* Botón*/
.enviar {
  background-color: orange;
  color: whitesmoke;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
}

.enviar:active {
  transform: scale(0.97);
}
/* Link*/
.enlace {
  width: 100%;
  margin: 0px;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}
